body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: seagreen;
    color: white;
}

.hurmbuger{
    width: 34px;
    margin:5px 7px 5px auto;
    padding: 1em;
    background-color: crimson;
    position: relative;
}

.line{
    width: 27px;
    height: 3px;
    background-color: cornflowerblue;
    margin: 4px;
    position: sticky;
    margin-right: 10px;
    margin:0 10px 5px auto;
    z-index: 100;
    
}

nav ul{
    list-style: none;
    display: none;

}

.nav_links_open div.hurmbuger{
    background-color: crimson;
}
.nav_links_open ul.similar_projects{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #235678;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
   
   

}

.nav_links_open div.first{
    transform: rotate(135deg);
    
}
.nav_links_open div.second{
    transform: rotate(45deg) translateX(-5PX) translateY(-5px);


}


.nav_links_open div.third{
    display: none;
}

nav li{
    list-style: none;
    color: cornsilk;
    text-decoration: none;
    
}
li a{
    color: cornsilk;
    text-decoration: none;
    font-size: 2rem;
    
}
li a:hover{
    color: gray;
}

.container{
    text-align: center;
    margin-top:4em ;
}

input{
    background-color: #eddded;
    border: 1px inset seagreen;
    height: 2rem;
}

button{
    margin: 2em 2em  ;
    width: 18%;
    padding: .5em;
    border:2px outset seagreen;

}
button:hover{
    background-color: gray;
}

span{
    margin: 2em;
}